.orders-list tbody tr:hover {
  cursor: pointer;
}

.orders-list tbody td, .orders-list thead tr {
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}

.orders-list .orders-list__order-items {
  text-align: left;
}

#selected-order-modal table {
  min-height: 200px;
}

@media (min-width: 1200px) {
  #selected-order-modal {
    max-width: 90vw;
  }
}